<settings>
    <setting propertyKey="@Properties.OfficialEndDate" title="@Strings.OfficialEndDate">
        <settingConfig type="numeric" min="0" />
    </setting>
    <setting propertyKey="@Properties.ConnectedHolidaysStart" title="@Strings.ConnectedHolidaysStart">
        <settingConfig type="numeric" min="0" />
    </setting>

    <!-- School-days profile -->
    <setting propertyKey="@Properties.SchoolDaySun" title="@Strings.SchoolDaySun">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.SchoolDayMon" title="@Strings.SchoolDayMon">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.SchoolDayTue" title="@Strings.SchoolDayTue">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.SchoolDayWed" title="@Strings.SchoolDayWed">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.SchoolDayThu" title="@Strings.SchoolDayThu">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.SchoolDayFri" title="@Strings.SchoolDayFri">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.SchoolDaySat" title="@Strings.SchoolDaySat">
        <settingConfig type="boolean" />
    </setting>

    <!-- Daily final bell (HH:MM) -->
    <setting propertyKey="@Properties.EndHourSun" title="@Strings.EndHourSun">
        <settingConfig type="alphaNumeric" maxLength="5" />
    </setting>
    <setting propertyKey="@Properties.EndHourMon" title="@Strings.EndHourMon">
        <settingConfig type="alphaNumeric" maxLength="5" />
    </setting>
    <setting propertyKey="@Properties.EndHourTue" title="@Strings.EndHourTue">
        <settingConfig type="alphaNumeric" maxLength="5" />
    </setting>
    <setting propertyKey="@Properties.EndHourWed" title="@Strings.EndHourWed">
        <settingConfig type="alphaNumeric" maxLength="5" />
    </setting>
    <setting propertyKey="@Properties.EndHourThu" title="@Strings.EndHourThu">
        <settingConfig type="alphaNumeric" maxLength="5" />
    </setting>
    <setting propertyKey="@Properties.EndHourFri" title="@Strings.EndHourFri">
        <settingConfig type="alphaNumeric" maxLength="5" />
    </setting>
    <setting propertyKey="@Properties.EndHourSat" title="@Strings.EndHourSat">
        <settingConfig type="alphaNumeric" maxLength="5" />
    </setting>
</settings>
